* {
	font-family: Open Sans, Arial;
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background-color: #f3f3f3;
	color: #7f8c8c;
}
      /* HEADER*/
div.header {
	width: 100%;
	height: 80px;
	background-color: #ececec;
	padding-top: 44px;
	font-weight: bold;
	margin-bottom: -6px;
}
.header_blog {
	margin-left: 173px;
	margin-right: 800px;
	font-size: 20px;
}
.header_home {
	padding-right: 167px;
	font-size: 12px;
}
.header_triangle {
	margin-top: -5px;
	border: 1px;
	border-color: #000;
	padding-left: 163px;
}
		/* ARTICLE */
.post {
	margin: 93px 0 0 163px;
	width: 850px;
	height: 900px;
}
.post_icon {
	width: 70px;
	height:70px;
	background-color: #7f8c8c;
	box-shadow: 0 3px 1px #e5e6e6;
	border-radius: 5px;
	float: left;
	text-align: center;
	display: inline-block;
	margin-top: 7px;
	box-shadow: 0 3px 1px #e5e6e6;
}
.post_icon_img {
	display:inline-block;
    vertical-align:middle;
    height: 30px;
}
.helper {
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;

}
.post_date {
	margin-left: 100px;
	margin-bottom: 55px;
}
.post_h1 {
	color: #76c7c0;
	font-size: 24px;
	margin-bottom: 10px;
}
a.post_link {
	color: #e2534b;
	text-decoration: none;
}
.post_link_icons {
	margin-left: 23px;
}
			/* BLOG / PAGE Slideshow */
.post_slide {
	width: 800px;
	height: 566px;
	background-color: #f8f8f8;
	border-radius: 5px;
	box-shadow: 0 3px 1px #e5e6e6;
}
.post_slide_lbutton {
	float: left;
	margin-top: 30%;
	background-color: #e8645a;
	box-shadow: 0 3px 1px #e2534b;
	width: 50px;
	height: 60px;
	border-radius: 0 5px 5px 0;
}
.post_slide_rbutton {
	float: right;
	margin-top: 30%;
	background-color: #e8645a;
	width: 50px;
	height: 60px;
	box-shadow: 0 3px 1px #e2534b;
	border-radius: 5px 0 0 5px;
}
.post_slide_img {
	float: left;
	margin-left: 37%;
	margin-top: 28%;
}
.post_slide_lbutton img {
	margin: 20px 12px;
}
.post_slide_rbutton img {
	transform: rotate(180deg);
	margin: 20px 12px;
}
.post_buttons {
	margin-top: 30px;
}
.post_buttons a:link {
	display: inline-block;
	background-color: #b0b8b9;
	width: 60px;
	height: 5px;

}
.post_buttons a:active {
	background-color: #e2534b;
}
.post_buttons a:hover {
	background-color: #e2534b;
}
.post_p p {
	margin-top: 35px;
	width: 800px;
	font-size: 14px;
}
.post_p_last p{
	width: 700px;
	display: inline-block;
	margin-left: 70px;
	border-left: 5px solid #7f8c8c;
	padding-left: 25px;
}