* {
	font-family: Open Sans, Arial;
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background-color: #f3f3f3;
	color: #7f8c8c;
}
      /* HEADER*/
div.header {
	width: 100%;
	height: 80px;
	background-color: #ececec;
	padding-top: 44px;
	font-weight: bold;
	margin-bottom: -6px;
}
.header_blog {
	margin-left: 173px;
	font-size: 20px;
}
.header_home {
	padding-right: 173px;
	font-size: 12px;
	float: right;
}
.header_triangle {
	margin-top: -5px;
	border: 1px;
	border-color: #000;
	padding-left: 163px;
}
		/* ARTICLE */
.post {
	margin: 93px 0 0 163px;
	width: 850px;
	height: 900px;
}
.post_icon {
	width: 70px;
	height:70px;
	background-color: #7f8c8c;
	box-shadow: 0 3px 1px #e5e6e6;
	border-radius: 5px;
	float: left;
	text-align: center;
	display: inline-block;
	margin-top: 7px;
	box-shadow: 0 3px 1px #e5e6e6;
}
.post_icon_img {
	display:inline-block;
    vertical-align:middle;
    height: 30px;
}
.helper {
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;

}
.post_date {
	margin-left: 100px;
	margin-bottom: 55px;
}
.post_h1 {
	color: #76c7c0;
	font-size: 24px;
	margin-bottom: 10px;
}
a.post_link {
	color: #e2534b;
	text-decoration: none;
}
.post_link_icons {
	margin-left: 23px;
}
			/* BLOG / PAGE Slideshow */
.post_slide {
	width: 800px;
	height: 566px;
	background-color: #f8f8f8;
	border-radius: 5px;
	box-shadow: 0 3px 1px #e5e6e6;
}
.post_slide_lbutton {
	float: left;
	margin-top: 30%;
	background-color: #e8645a;
	box-shadow: 0 3px 1px #e2534b;
	width: 50px;
	height: 60px;
	border-radius: 0 5px 5px 0;
}
.post_slide_rbutton {
	float: right;
	margin-top: 30%;
	background-color: #e8645a;
	width: 50px;
	height: 60px;
	box-shadow: 0 3px 1px #e2534b;
	border-radius: 5px 0 0 5px;
}
.post_slide_img {
	float: left;
	margin-left: 37%;
	margin-top: 28%;
}
.post_slide_lbutton img {
	margin: 20px 12px;
}
.post_slide_rbutton img {
	transform: rotate(180deg);
	margin: 20px 12px;
}
.post_buttons {
	margin-top: 30px;
}
.post_buttons a:link {
	display: inline-block;
	background-color: #b0b8b9;
	width: 60px;
	height: 5px;

}
.post_buttons a:active {
	background-color: #e2534b;
}
.post_buttons a:hover {
	background-color: #e2534b;
}
.post_p p {
	margin-top: 35px;
	width: 800px;
	font-size: 14px;
}
.post_p_last p {
	width: 700px;
	display: inline-block;
	margin-left: 70px;
	border-left: 5px solid #7f8c8c;
	padding-left: 25px;
}
.post_share {
	width: 800px;
	height: 70px;
	background-color: #ececec;
	margin:45px 0 45px 0;
	border-radius: 5px;
}
.post_share p {
	display: inline-block;
	position: relative;
	bottom: 10px;
	text-transform: uppercase;
	padding: 0 14px 0 12px;
}
.post_share div {
	display: inline-block;
	margin: 16px 10px 0 0;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.facebook {
	background-image: url('../images/facebook.png');
	background-color: #526da3;
}
.twitter {
	background-image: url('../images/twitter.png');
	background-color: #73bfe6;
}
.google {
	background-image: url('../images/google.png');
	background-color: #e2534b;
}
.linked {
	background-image: url('../images/linkedin.png');
	background-color: #527aa3;
}
.post_share_left {
	float: right;
	background-color: #cccccc;
	background-image: url('../images/arrow.png');
}
.post_share_right {
	float: right;
	background-color: #cccccc;
	background-image: url('../images/arrow.png');
	transform: rotate(180deg);
}
a:hover .post_share_left {
	background-color: #e2534b;
}
a:hover .post_share_right {
	background-color: #e2534b;
}
			/*COMMENTS*/
.post_comments div, span, p{
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	line-height: 1.5;
}
.post_comments_h3 {
	margin-bottom: 45px;
}
.post_comment_1 {
	width: 800px;
	height: 110px;
	margin-bottom: 20px; 
}
.post_user_icon {
	position: absolute;
	float: left;
	width: 70px;
	height: 70px;
	background-color: #7f8c8c;
	background-image: url('../images/user_icon.png');
	border-radius: 5px;
}
.post_comment_inf {
	float: left;
	padding-left: 80px;
	margin: 5px 0 5px 0;
}
.post_comment_p {
	width: 720px;
	height: 70px;
	background-color: #f8f8f8;
	padding-left: 40px;
	padding-top: 10px;
	margin-left: 40px;
	border-radius: 5px;
	box-shadow: 0 5px 1px #e5e6e6;
}
.replay {
	float: right;
}
.post_comments a {
	text-decoration: none;
	color: #7f8c8c;
	font-weight: bold;
}